*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../assets/img/mesh-627.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.estiloPropio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(121, 33, 33);
    text-align: center;
}
.logotipoElessoradio{
    width: 300px;
}
.colorPropio{
    background-color: rgb(151, 23, 23);
}
 
